<div class="wrapper">
  <div class="left-container">
    <div class="elimination-container">
      <h1> ELIMINATION DES EAUX D’INFILTRATION </h1>
      <p>
        Nous éliminons également les eaux d’infiltration, ainsi que la remise en fonction de votre chaudière.
        Grâce à notre compétence en la matière, nous avons la possibilité d’évacuer les eaux d’infiltrations éventuelles sans pour cela toucher à votre mazout.
      </p>
    </div>
    <div class="app-image">
      <app-image></app-image>
    </div>
  </div>

  <div class="right-container">
    <div class="app-contact">
      <app-contact></app-contact>
    </div>
  </div>
</div>
