<div class="wrapper">
  <div class="left-container">
    <div class="elimination-container">
      <h1>Bienvenue chez Entreprise Debod</h1>

      <h2>Nos Services :</h2>
      <ul>
        <li><strong>Élimination des Eaux d’Infiltration :</strong> Solutions expertes pour l'évacuation par découpage de citernes à mazout, que ce soit en cave ou à l'extérieur.</li>
        <li><strong>Enlèvement du Réservoir :</strong> Services de neutralisation et découpage professionnel, sans altérer votre stock de mazout.</li>
        <li><strong>Neutralisation :</strong> Spécialistes dans la neutralisation de citernes enterrées, conformes aux normes les plus strictes.</li>
        <li><strong>Placement d’un Nouveau Réservoir :</strong> Accompagnement complet, de l'installation à la vérification de la conformité.</li>
        <li><strong>Placement de Systèmes Anti-Débordement :</strong> Sécurisez votre approvisionnement en mazout avec des systèmes antivol fiables.</li>
      </ul>

      <h2>Pourquoi Choisir Entreprise Debod :</h2>
      <ul>
        <li><strong>Expérience Confirmée :</strong> Des années d'expérience dans le domaine des citernes.</li>
        <li><strong>Service Sans Frais de Déplacement :</strong> Intervention à Bruxelles et dans les Brabants sans coûts supplémentaires de déplacement.</li>
        <li><strong>Contact Facile :</strong> Joignez-nous au +32475344796 ou par email à sergedebod&#64;gmail.com.</li>
      </ul>
    </div>
    <div class="app-image">
      <app-image></app-image>
    </div>
  </div>

  <div class="right-container">
    <div class="app-contact">
      <app-contact></app-contact>
    </div>
  </div>
</div>

<div class="center">
  <p>Laissez-nous résoudre vos problèmes liés aux citernes avec professionnalisme et engagement. Nous sommes là pour vous accompagner à chaque étape.</p>
</div>
