<header>
  <div class="header-content">
    <div class="title-container">
      <h1>Entreprise Debod</h1>
      <p> ADRESSE : </p>
      <p> Avenue Jean Sibelius 26/Bte8 </p>
      <p> 1070 ANDERLECHT </p>
    </div>
    <div class="nav-vertical-container">
      <ul>
        <li><a routerLink="/debod-page/accueil">ACCUEIL</a></li>
        <li><a routerLink="/debod-page/elimination">ELIMINATION DES EAUX D’INFILTRATION</a></li>
        <li><a routerLink="/debod-page/enlevement">ENLEVEMENT DU RESERVOIR</a></li>
      </ul>
    </div>
  </div>
</header>


<router-outlet></router-outlet>


