<div class="wrapper">
  <div class="left-container">
    <div class="elimination-container">
      <h1> Enlèvement du Réservoir </h1>
      <p>
        Si une citerne doit être enlevée de l’habitation, nous proposons les services suivants :
      </p>

      <ul>
        <li>Procéder à la vidange du réservoir qui sera également dégazé et nettoyé.</li>
        <li>Transport des eaux polluées et eaux de rinçages vers une usine de transformation agréée et reconnue, délivrant le certificat obligatoire.</li>
        <li>Découpe et évacuation du réservoir par nos soins.</li>
      </ul>

      <p>
        Ces travaux sont exécutés soigneusement et professionnellement.
      </p>
    </div>
    <div class="app-image">
      <app-image></app-image>
    </div>
  </div>

  <div class="right-container">
    <div class="app-contact">
      <app-contact></app-contact>
    </div>
  </div>
</div>
