<div class="center">
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>
  <button *ngIf="!authService.isAuthenticated()" (click)="login()"> login</button>
  <button *ngIf="authService.isAuthenticated()" (click)="logout()"> logout</button>
  <button (click)="register()"> register</button>
</div>

<nav class="center">
  <a routerLink="/aliment-list-page"> AlimentList </a> |
  <a routerLink="/actualite-page"> UserList </a> |
  <a routerLink="/debod-page"> Site Debod </a>
</nav>

<router-outlet></router-outlet>
